In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Data/attacks.csv",encoding='latin')
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [27]:
df_2 = df[["Country", "Area", "Year", "Activity", "Age", "Fatal (Y/N)"]]
df_2.isnull()
df_sharks=df_2.dropna(subset=["Country", "Area", "Year", "Activity", "Age", "Fatal (Y/N)"])
df_sharks = df_sharks.set_index(["Country", "Area"])
df_sharks.sort_index(ascending=False)

                                        Year
Country        Area
YEMEN          Aden                   1898.0  \
               Aden                   1898.0
WESTERN SAMOA  Upolu Island           1972.0
VIETNAM        Khánh Hòa Province     1907.0
               Binh Dinh Province     2010.0
...                                      ...
ARGENTINA      Buenos Aires Province  1954.0
AMERICAN SAMOA Tutuila Island         1958.0
               Tutuila Island         1955.0
               Tutuila Island         1954.0
 TONGA         Minerva Reef           2000.0

                                                                               Activity
Country        Area
YEMEN          Aden                                      Swimming at side of small boat  \
               Aden                                                            Standing
WESTERN SAMOA  Upolu Island                                                    Swimming
VIETNAM        Khánh Hòa Province                                               Fishing
               Binh Dinh Province                                              Swimming
...                                                                                 ...
ARGENTINA      Buenos Aires Province                                           Floating
AMERICAN SAMOA Tutuila Island                                    Cleaning hull of ship
               Tutuila Island                                                  Swimming
               Tutuila Island         Dived overboard & was swimming near stern of t...
 TONGA         Minerva Reef                                                Scuba diving

                                     Age Fatal (Y/N)
Country        Area
YEMEN          Aden                   24           Y
               Aden                   22           Y
WESTERN SAMOA  Upolu Island           25           Y
VIETNAM        Khánh Hòa Province     20           N
               Binh Dinh Province     17           N
...                                   ..         ...
ARGENTINA      Buenos Aires Province  18           N
AMERICAN SAMOA Tutuila Island         22           Y
               Tutuila Island         28           Y
               Tutuila Island         27           Y
 TONGA         Minerva Reef           69           N

[3040 rows x 4 columns]

In [4]:
usa=df_sharks.loc[df_sharks['Country']=='USA']
aust=df_sharks.loc[df_sharks['Country']=='AUSTRALIA']
df4=df4[usa & aust]

NameError: name 'df4' is not defined

In [ ]:
df_sharks = df_sharks.set_index(["Country", "Area"])
df_sharks
-----------
df_sharks["Country"].unique()
--------------------
vzla  = df_sharks.Country == "VENEZUELA"
sa = df_sharks.Country == "SOUTH AFRICA"
spn = df_sharks.Country == "SPAIN"
peru = df_sharks.Country == "PERU"
mex = df_sharks.Country == "MEXICO"
ind = df_sharks.Country == "INDONESIA"
cr = df_sharks.Country == "COSTA RICA"
brz = df_sharks.Country == "BRAZIL"
ire = df_sharks.Country == "IRELAND"
df_sharks = [usa|aust|vzla|sa|spn|peru|mex|ind|cr|brz|ire]

In [ ]:
df_sharks.Country.unique()

In [ ]:
df_sharks = (df_sharks.sort(by = ["Country", "Area"], ascending=False))






df_2 = df_2.set_index(["Country", "Area"])
df_2 = (df_2.sort(by = ["Country", "Area", "Year"], ascending=False))
df_2.head()
-----------
df_sharks = df_2.set_index("Country")
--------
df_2 = (df_2.sort_values(by = ["Country", "Area", "Year"], ascending=True))
df_2.head()

In [ ]:
pd.isna(df).sum()